.font {
  font-family: sans-serif, "Times New Roman";
}

body {
  background-color: #f0f0f0;
}

.background-color-head {
  background-color: #562b81;
}

header h1 {
  font-size: 30px;
  color: white;
  font-weight: 100;
  padding-right: 20px;
}

.row h1 {
  font-weight: 100;
}

.row h2 {
  font-weight: 100;
  font-size: 40px;
}

header div {
  font-size: 25px;
  color: white;
  font-weight: 100;
  padding-right: 20px;
}

.column-full h1 {
  font-weight: 200;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

input {
  height: 40px;
  border: 1px solid;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: #cbcbcb;
  border-radius: 5px;
}

#notes {
  height: 150px;
}

.margin-top {
  margin-top: 20px;
}

.text-right {
  text-align: right;
}

.save-button {
  background-color: #562b81;
  color: white;
  border-radius: 5px;
  border-color: #562b81;
  border-style: solid;
  height: 30px;
  width: 70px;
  margin-bottom: 50px;
}

.inline {
  display: inline;
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.line-height {
  line-height: 25px;
}

.new-button {
  background-color: #562b81;
  color: white;
  border-radius: 5px;
  border-color: #562b81;
  border-style: solid;
  font-size: 20px;
  margin-top: 0;
  padding: 3px 10px;
}

.align-center {
  align-items: center;
}

a:hover,
button:hover {
  cursor: pointer;
}
